@{
    ViewBag.Title = "Home Page";
}
@model CheckInWeb.Models.HomeViewModel

<div class="jumbotron">
    <h1>Check In</h1>
    <p class="lead">This is a sample application designed to test your C#, MVC, and Web development skills. The code works, but it has several problems that may give us maintenance headaches down the line.  We also have a number of enhancements we would like to make.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Background</h2>
        <p>
            <ol>
                <li>The locations page shows all of the locations in the system and a link to check in there.</li>
                <li>The checkins page shows all the previous checkins for the logged in user.</li>
                <li>The achievements page shows all of the achievements earned by the logged in user.</li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Guide</h2>
        <p>
            <ul>
                <li>Complete the requests outlined by the provided guide.</li>
                <li>Feel free to implement any libraries that you feel comfortable with.</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Guide (cont)</h2>
        <p>
            <ul>
                <li>Utilize any resources you normally use on a day to day basis (go on the internet to look stuff up).</li>
                <li>Focus on increasing the quality of the code and be prepared to talk about the changes that were made.</li>
            </ul>
        </p>
    </div>
</div>

<br/>

<div class="row">
    <h2>Top Locations</h2>
</div>

<br />

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Location</th><th>User with most check ins</th>
            </tr>
            @foreach(var location in Model.TopLocations)
            {
                <tr><td>@location.LocationName</td><td>@location.UserName</td></tr>
            }
        </table>
    </div>
</div>